<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sss.ums.mapper.UmsAccountMapper">
    <insert id="registerAccount">
        insert into ums_user(username, password, icon, email, nick_name, note)
        values (#{account.username}, #{account.password}, #{account.icon}, #{account.email}, #{account.nickName}, #{account.note})
    </insert>
</mapper>